[user]
	name = Jehwan Kim
	email = aksidion@kreimben.com
	signingkey = F7CDD13EA935BDEAFEB0CF5D7438B90463526278
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	autocrlf = input
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
